h1{
color: rgb(218, 103, 21);
height: 20px;
text-align: center;
font-style: obliques;


}
body{
background-color: darkslategray;


}
div{
align-content: center;
place-content:center ;


}